<div class="user-form-wrapper">
  <!-- <app-alert></app-alert> -->
  <div class="row">
    <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
      <div class="card">
        <div class="card-header">
          <h2>My Account</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="myProfileForm" (ngSubmit)="f.form.valid ? update() : '' "
            #f="ngForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" [ngModel]="user?.email != '' ? user?.email : ''" [attr.disabled]="true"
                    formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
                  <!-- <div *ngIf="f.submitted && email.errors.required" class="help-block">Email is required</div> -->
                  <div *ngIf="f.submitted && email.errors && email.touched"
                    class="help-block">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
                  <div *ngIf="!f.submitted && email.errors" class="help-block">
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="userType">User Type</label>
                  <select name="userType" formControlName="userType" class="form-control"
                    (change)="changeWebsite($event)" [attr.disabled]="true"
                    [ngModel]="user_type == 1 ? 'Admin' : (user_type== 2 ? 'Researcher' : (user_type == 3 ? 'Reviewer' : 'default'))">
                    <option value="default" disabled>Choose User Type</option>
                    <option *ngFor="let usertype of usertype" value='{{ usertype }}'>{{usertype}}</option>
                  </select>
                  <div *ngIf="f.submitted && userType.errors && userType.touched"
                    class="help-block">
                    <!-- <div *ngIf="userType.invalid">Invalid user type</div> -->
                    <div *ngIf="userType.errors.required">Please Select user type</div>
                  </div>
                </div>
              </div>

              <div *ngIf="user_type == 3" class="col-sm-3">
                <!-- <div class="col-sm-3"> -->
                <div class="form-group">
                  <label for="specialization">Specialization</label>
                  <select name="specialization" formControlName="specialization" class="form-control" [attr.disabled]="true"
                    [ngModel]="user_specialization != null && user_specialization != 0 ? user_specialization : ''">
                    <option value="" disabled>Choose Specialization</option>
                    <ng-container *ngFor="let specialization of avSpecializations" >
                      <option *ngIf="specialization.id != 0 " value='{{ specialization.id }}'>{{ specialization.name}}</option>
                    </ng-container>
                  </select>
                  <div *ngIf="f.submitted && userType.errors && userType.touched"
                    class="help-block">
                    <!-- <div *ngIf="userType.invalid">Invalid user type</div> -->
                    <div *ngIf="userType.errors.required">Please Select user type</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" name="firstName" [ngModel]="user?.first_name != '' ? user?.first_name : '' "
                    formControlName="firstName" autocomplete="off" class="form-control input-sm" placeholder="First Name">
                  <div *ngIf="f.submitted && firstName.errors && firstName.touched"
                    class="help-block">
                    <div *ngIf="firstName.errors.required">First Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" name="lastName" [ngModel]="user?.last_name != '' ? user?.last_name : '' "
                    formControlName="lastName" autocomplete="off" class="form-control input-sm" placeholder="Last Name">
                  <div *ngIf="f.submitted && lastName.errors && lastName.touched"
                    class="help-block">
                    <div *ngIf="lastName.errors.required">Last Name is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" name="address" [ngModel]="user?.address != '' ? user?.address : '' "
                formControlName="address" autocomplete="off" class="form-control input-sm" placeholder="Address">
              <div *ngIf="f.submitted && address.errors && address.touched"
                class="help-block">
                <div *ngIf="address.errors.required">Address is required</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" name="city" [ngModel]="user?.city != '' ? user?.city : '' "
                    formControlName="city" autocomplete="off" class="form-control input-sm" placeholder="City">
                  <div *ngIf="f.submitted && city.errors && city.touched "
                    class="help-block">
                    <div *ngIf="city.errors.required">City is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="zipCode">Zip Code</label>
                  <input type="text" name="zipCode" [ngModel]="user?.zip_code != '' ? user?.zip_code : '' "
                    formControlName="zipCode" autocomplete="off" class="form-control input-sm" placeholder="Zip Code">
                  <div *ngIf="f.submitted && zipCode.errors && zipCode.touched"
                    class="help-block">
                    <div *ngIf="zipCode.errors.required">Zip Code is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" formControlName="password" autocomplete="off"
                class="form-control input-sm" placeholder="Password">
              <div *ngIf="f.submitted && password.errors && password.touched"
                class="help-block">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
              <div *ngIf="!f.submitted && password.errors" class="help-block">
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" name="confirmPassword" formControlName="confirmPassword" autocomplete="off"
                class="form-control input-sm" placeholder="Confirm Password">
              <div
                *ngIf="f.submitted && confirmPassword.errors && confirmPassword.touched"
                class="help-block">
                <div *ngIf="confirmPassword.errors.required">Password is required</div>
                <div *ngIf="confirmPassword.errors.mustMatch">Password did not match</div>
              </div>
              <div *ngIf="!f.submitted && confirmPassword.errors" class="help-block">
                <div *ngIf="confirmPassword.errors.mustMatch">Password did not match</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success float-right">Update Profile</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>