<app-alert></app-alert>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">

  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="../../../assets/images/library.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="../../../assets/images/deped.png" alt="logo" class="logo">
            </div>
            <p class="login-card-description">Sign into your account</p>
            <form name="form" [formGroup]="angForm" (ngSubmit)="f.form.valid && postdata(angForm)" #f="ngForm" novalidate >
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input type="email" class="form-control" name="email" formControlName="email" autocomplete="off" class="form-control" placeholder="Email address">
                  <div *ngIf="f.submitted && email.errors" class="help-block">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group mb-4">
                  <label for="password" class="sr-only">Password</label>
                  <input type="password"  class="form-control" name="password" formControlName="password" autocomplete="off" class="form-control" placeholder="***********">
                  <div *ngIf="f.submitted && password.errors" class="help-block">
                    <div *ngIf="password.errors.required">Password is required</div>
                  </div>
                </div>
                <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" value="Login" type="submit">
              </form>
              <a href="#!" class="forgot-password-link">Forgot password?</a>
              <p class="login-card-footer-text">Don't have an account? <a routerLink="{{user_route}}/registration" class="text-reset">Register here</a></p>
              <nav class="login-card-footer-nav">
                <a href="#!">Terms of use.</a>
                <a href="#!">Privacy policy</a>
              </nav>
          </div>
        </div>
      </div>
    </div>
  </div> 
</main>