<div class="user-form-wrapper">
  <!-- <app-alert></app-alert> -->
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ buttonState ? 'Edit User' : 'Add User' }}</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="angForm" (ngSubmit)="f.form.valid && (buttonState ? update(angForm) : add(angForm))"
            #f="ngForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" [ngModel]="users?.email != '' ? users?.email : ''"
                    formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
                  <!-- <div *ngIf="f.submitted && email.errors.required" class="help-block">Email is required</div> -->
                  <div *ngIf="f.submitted && (buttonState ? email.errors && email.touched : email.errors)"
                    class="help-block">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
                  <div *ngIf="!f.submitted && email.errors" class="help-block">
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="userType">User Type</label>
                  <select name="userType" formControlName="userType" class="form-control"
                    (change)="changeWebsite($event)"
                    [ngModel]="user_type == 1 ? 'Admin' : (user_type== 2 ? 'Researcher' : (user_type == 3 ? 'Reviewer' : 'default'))">
                    <option value="default" disabled>Choose User Type</option>
                    <option *ngFor="let usertype of usertype" value='{{ usertype }}'>{{usertype}}</option>
                  </select>
                  <div *ngIf="f.submitted && (buttonState ? userType.errors && userType.touched : userType.errors)"
                    class="help-block">
                    <!-- <div *ngIf="userType.invalid">Invalid user type</div> -->
                    <div *ngIf="userType.errors.required">Please Select user type</div>
                  </div>
                </div>
              </div>
              <div *ngIf="user_type != 3" class="col-sm-3">
                <div class="form-group form-check-inline">
                  <label class="form-check-label">
                    <input type="checkbox" formControlName="active" class="form-check-input"
                      [checked]="users?.archived == 'f' ? true : false"
                       [(ngModel)]="isChecked"
                      (change)="checkValue($event)">Active?
                  </label>
                </div>
              </div>

              <div *ngIf="user_type == 3" class="col-sm-3">
                <div class="form-group">
                  <label for="specialization">Specialization</label>
                  <select name="specialization" formControlName="specialization" class="form-control"
                    [ngModel]="user_specialization != null && user_specialization != 0 ? user_specialization : ''">
                    <option value="" disabled>Choose Specialization</option>
                    <ng-container *ngFor="let specialization of avSpecializations" >
                      <option *ngIf="specialization.id != 0 " value='{{ specialization.id }}'>{{ specialization.name}}</option>
                    </ng-container>
                  </select>
                  <div *ngIf="f.submitted && (buttonState ? userType.errors && userType.touched : userType.errors)"
                    class="help-block">
                    <!-- <div *ngIf="userType.invalid">Invalid user type</div> -->
                    <div *ngIf="userType.errors.required">Please Select user type</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" [ngModel]="users?.first_name != '' ? users?.first_name : '' "
                formControlName="firstName" autocomplete="off" class="form-control input-sm" placeholder="First Name">
              <div *ngIf="f.submitted && (buttonState ? firstName.errors && firstName.touched : firstName.errors)"
                class="help-block">
                <div *ngIf="firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" [ngModel]="users?.last_name != '' ? users?.last_name : '' "
                formControlName="lastName" autocomplete="off" class="form-control input-sm" placeholder="Last Name">
              <div *ngIf="f.submitted && (buttonState ? lastName.errors && lastName.touched : lastName.errors)"
                class="help-block">
                <div *ngIf="lastName.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" name="address" [ngModel]="users?.address != '' ? users?.address : '' "
                formControlName="address" autocomplete="off" class="form-control input-sm" placeholder="Address">
              <div *ngIf="f.submitted && (buttonState ? address.errors && address.touched : address.errors)"
                class="help-block">
                <div *ngIf="address.errors.required">Address is required</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" name="city" [ngModel]="users?.city != '' ? users?.city : '' "
                    formControlName="city" autocomplete="off" class="form-control input-sm" placeholder="City">
                  <div *ngIf="f.submitted && (buttonState ? city.errors && city.touched : city.errors)"
                    class="help-block">
                    <div *ngIf="city.errors.required">City is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="zipCode">Zip Code</label>
                  <input type="text" name="zipCode" [ngModel]="users?.zip_code != '' ? users?.zip_code : '' "
                    formControlName="zipCode" autocomplete="off" class="form-control input-sm" placeholder="Zip Code">
                  <div *ngIf="f.submitted && (buttonState ? zipCode.errors && zipCode.touched : zipCode.errors)"
                    class="help-block">
                    <div *ngIf="zipCode.errors.required">Zip Code is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" formControlName="password" autocomplete="off"
                class="form-control input-sm" placeholder="Password">
                <div *ngIf="password.touched ? isTouched() : removeValidators() "></div>
              <div *ngIf="f.submitted && (buttonState ? password.errors && password.touched : password.errors)"
                class="help-block">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
              <div *ngIf="!f.submitted && password.errors" class="help-block">
                <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" name="confirmPassword" formControlName="confirmPassword" autocomplete="off"
                class="form-control input-sm" placeholder="Confirm Password">
                <div *ngIf="password.touched ? isTouched() : removeValidators() "></div>
              <div
                *ngIf="f.submitted && (buttonState ? confirmPassword.errors && confirmPassword.touched : confirmPassword.errors )"
                class="help-block">
                <div *ngIf="confirmPassword.errors.required">Password is required</div>
                <div *ngIf="confirmPassword.errors.mustMatch">Password did not match</div>
              </div>
              <div *ngIf="!f.submitted && confirmPassword.errors" class="help-block">
                <div *ngIf="confirmPassword.errors.mustMatch">Password did not match</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success float-right">{{ buttonState ? 'Update' : 'Add' }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>