<div class="user-form-wrapper">
  <!-- <app-alert></app-alert> -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>Review Research Paper</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="reviewerForm" (ngSubmit)="f.form.valid && update()"
                    #f="ngForm">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" autocomplete="off" [ngModel]="researchPaper?.research_paper_name != '' ? researchPaper?.research_paper_name : '' "
                                formControlName="title" class="form-control input-sm" placeholder="Title">
                                <div *ngIf="f.submitted && title.errors" class="help-block">
                                    <div *ngIf="title.errors.required">Title is required</div>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="row" id="ck-container">
                                <div class="col-md-11">
                                    <label for="email">Body</label>
                                    <ckeditor *ngIf="ckeditor_status" [editor]="Editor"
                                        id="body"name="body" (ready)="onReady($event)" [config]="config"
                                        formControlName="body" [ngModel]="researchPaper?.body != '' ? researchPaper?.body : '' "
                                        (change)="onChange($event)"
                                        ></ckeditor>
                                    <div *ngIf="f.submitted && body.errors" class="help-block">
                                        <div *ngIf="body.errors.required">Body is required</div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label>Comments</label>
                                    <div name="sidebar" id="sidebar" #sidebar></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags (only 1 tag per research paper allowed)</label>
                            <tag-input [ngModel]="tag != '[]' ? tag : '[]'" formControlName="tags" (onTagEdited)="onTagEdited($event)" [addOnBlur]="true" [clearOnBlur]="true" [onlyFromAutocomplete]="true" [maxItems]="1" [removable]="user_type == 3 ? false : true">
                                <tag-input-dropdown [displayBy]="'name'"
                                    [identifyBy]="[{id: 'id'}]">
                                    <ng-template let-item="item">
                                        {{ item.name }}
                                    </ng-template>
                                </tag-input-dropdown>
                            </tag-input>
                            <div *ngIf="f.submitted && tags.errors" class="help-block">
                                <div *ngIf="tags.errors.required">Tags is required</div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group form-check-inline">
                              <label class="form-check-label text-success">
                                <input type="checkbox" formControlName="done" class="form-check-input"
                                  [checked]="researchPaper?.research_paper_status == 'Done' ? true : false"
                                   [(ngModel)]="isChecked"
                                  (change)="checkValue($event)">Mark as Done
                              </label>
                            </div>
                          </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                            <button type="submit" class="btn btn-success float-right">Submit Review</button>
                            </div>
                        </div>
                    </form>
                </div>
          </div>
      </div>
  </div>
</div>