.row {
    /* To create the column layout. */
    display: flex;

    /* To make the container relative to its children. */
    position: relative;
    
 }
 .ck{
  all: revert;
 }
 #ck-container{
  min-height: 500px;
  /* border: 2px solid red !important; */
 }

 .col-md-11{
    padding-right: 0px !important;
 }
 .col-md-1{
  padding-left: 1px !important;
 }
:host ::ng-deep .ck-editor__main{
/* border: 2px solid red !important;
min-height: 500px; */
}
:host ::ng-deep .ck-content{
min-height: 500px !important;
}

:host ::ng-deep .ck-comment__info-time {
   border: 2px solid red !important;
   display: hidden !important;
   }




 #sidebar {
    /* Set some size for the sidebar (it can be any). */
    /* min-width: 300px; */

    /* Add some distance. */
    padding: 0 5px;
 }

 #sidebar {
  padding: 0 5px;
  position: relative;
  /* min-width:  350px; */
  max-width: 350px;
  font-size: 20px;
  /* border: 1px solid hsl(0, 0%, 77%); */
  background: hsl(0, 0%, 98%);
  border-left: 1px solid rgb(239, 129, 87) !important;
  overflow: hidden;
  min-height: 540px;
  flex-grow: 1;
}