
<div class="registration-wrapper">
  <app-alert></app-alert>
  <div class="col-md-6 offset-md-3 registration-container mt-5">
    <h2 class="mt-5">Register</h2>
    <hr>
    <form [formGroup]="angForm" (ngSubmit)="f.form.valid && postdata(angForm)" #f="ngForm" novalidate >
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
        <!-- <div *ngIf="f.submitted && email.errors.required" class="help-block">Email is required</div> -->
        <div *ngIf="f.submitted && email.errors" class="help-block">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" formControlName="firstName" autocomplete="off" class="form-control input-sm" placeholder="First Name">
        <div *ngIf="f.submitted && firstName.errors" class="help-block">
          <div *ngIf="firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" formControlName="lastName" autocomplete="off" class="form-control input-sm" placeholder="Last Name">
        <div *ngIf="f.submitted && lastName.errors" class="help-block">
          <div *ngIf="lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" formControlName="address" autocomplete="off" class="form-control input-sm" placeholder="Address">
        <div *ngIf="f.submitted && address.errors" class="help-block">
          <div *ngIf="address.errors.required">Address is required</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="city" formControlName="city" autocomplete="off" class="form-control input-sm" placeholder="City">
            <div *ngIf="f.submitted && city.errors" class="help-block">
              <div *ngIf="city.errors.required">City is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="zipCode">Zip Code</label>
            <input type="text" name="zipCode" formControlName="zipCode" autocomplete="off" class="form-control input-sm" placeholder="Zip Code">
            <div *ngIf="f.submitted && zipCode.errors" class="help-block">
              <div *ngIf="zipCode.errors.required">Zip Code is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Password">
        <div *ngIf="f.submitted && password.errors" class="help-block">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" formControlName="confirmPassword" autocomplete="off" class="form-control input-sm" placeholder="Confirm Password">
        <div *ngIf="f.submitted && confirmPassword.errors" class="help-block">
          <div *ngIf="confirmPassword.errors.required">Password is required</div>
          <div *ngIf="confirmPassword.errors.mustMatch">Password did not match</div>
        </div>
        <div *ngIf="confirmPassword.errors" class="help-block">
          <div *ngIf="confirmPassword.errors.mustMatch">Password did not match</div>
        </div>
        <!-- <div *ngIf="f.submitted && !confim_password.valid" class="help-block">Password is required</div> -->
      </div>
      <div class="row">
        <div class="col-md-4">
          <button type="submit" class="btn btn-success" >Register</button>
        </div>
        <div class="col-md-8">
          <span class="sign-in-btn" >Already have an account? <a routerLink="{{user_route}}/login" >Sign in</a> </span>
        </div>
      </div>
    </form>
  </div>
</div>
