.form-control{
    /* padding: 0.375rem 0.75rem !important; */
}
.registration-wrapper {
    min-height: 100vh;
    background: rgba(203,203,210,.15);
}

.registration-container{
    /* padding: 20px; */
    padding:20px 70px 50px 70px !important;
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 15px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.219);
    position: absolute;
}

.btn-success{
    text-decoration: none;
    border-width: 2px;
    color:#65f086;
    background-color:white !important;
}
.btn-success:hover{
    color: #28a745 !important;
    background-color:none !important;
    border-color: #28a745;
}

.btn-success.focus,.btn-success:focus{
    color: #28a745 !important;
    background-color:none !important;
    box-shadow: 0px 1px 5px #65f086 !important;
}

.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus,.show>.btn-success.dropdown-toggle:focus{
    color: #fff !important;
    background-color:#28a745 !important;
    box-shadow: 0px 1px 5px #28a745 !important;
}

.sign-in-btn{
    font-size:13px !important;
    position: relative !important;
    float: right;
    margin-top: 25px !important;
}

