
<div class="sidebar-wrapper">
  <div class="logo">
    <a routerLink="/home" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/images/deped.jpeg">
      </div>
    </a>
    <a routerLink="/home" class="simple-text logo-normal">
      Department of Education Batangas
    </a>
  </div>
    <ul class="nav">
      <li routerLinkActive="active" >
        <a target="_blank" href="https://depedbatangas.org/">
          <i class="nc-icon nc-bank" aria-hidden="true"></i>
          <p>Main Site</p>
        </a>
      </li>
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
          
            <a [routerLink]="[menuItem.path]">
              <ng-container *ngIf="menuItem.iconType === 'nc';else second">
                <i class="nc-icon {{menuItem.icon}}" aria-hidden="true"></i>
              </ng-container>
              <ng-template #second>
                
                  <i class="fa {{menuItem.icon}}" aria-hidden="true"></i>
                 
              </ng-template>
              <p>{{menuItem.title}}</p>
            </a>
         
            <!-- <ng-template #nc let-link='menuItem'>
              <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}" aria-hidden="true"></i>
                <p>{{menuItem.title}}</p>
              </a>
            </ng-template>
          
            <ng-template #fa let-link='menuItem'>
              <a [routerLink]="[menuItem.path]">
                <i class="fa {{menuItem.icon}}" aria-hidden="true"></i>
                <p>{{menuItem.title}}</p>
              </a>
            </ng-template> -->
          
        </li>
    </ul>
</div>
