<div class="row">
  <div class="col-md-12">
    <div class="card home-page">
      <div class="card-header">
        <h5 class="title">Home</h5>
        <p class="category">Batangas State University Home Page</p>
      </div>
      <div class="card-body">
        
      </div>
    </div>
  </div>
</div>
