<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Research Papers</h4>
        <!-- <button class="btn btn-default card-title" routerLink="/users/add"><i class="fa fa-plus" aria-hidden="true"></i> Add User</button> -->
        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-default">
              <th>Title</th>
              <th>Author</th>
              <th>Tag</th>
              <th>Status</th>
            </thead>
            <tbody>
              <tr *ngFor="let researchPaper of researchPapers">
                <td>{{ researchPaper.research_paper_name }}</td>
                <td>{{ researchPaper.first_name + ' ' + researchPaper.last_name }}</td>
                <td><i>{{ researchPaperTag != "" ? researchPaperTag[researchPaper?.id] : '' }}</i></td>
                <td class="{{ researchPaper.research_paper_status }}">{{ researchPaper.research_paper_status }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
