<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title">Add User</h4> -->
        <button class="btn btn-default card-title" routerLink="/admin/users/add"><i class="fa fa-plus" aria-hidden="true"></i> Add User</button>
        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Type</th>
              <th><i aria-hidden="true" class="fa fa-certificate"></i> Specialization</th>
              <th class="text-right">Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.user_type == 1 ? 'Admin' : (user.user_type == 2 ? 'Researcher' : 'Reviewer') }}</td>
                <td>{{ user.user_type != 3 ? '-' : (user_specialization[user?.id] != '' && user_specialization[user?.id] != 0 ? user_specialization[user?.id] : 'not set') }}
                </td>
                <td class="text-right">
                <button routerLink="/admin/users/edit/{{user.id}}" class= "btn btn-primary">Edit</button> &nbsp;
                <button  class= "btn btn-danger" id="del" (click)="deleteUser(user.id)">Delete</button>
                </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
