<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-default card-title" routerLink="/admin/specializations/add"><i class="fa fa-plus" aria-hidden="true"></i> Add Specialization / Tag</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Action</th>
            </thead>
            <tbody>
              <ng-container *ngFor="let specialization of specializations">
                <tr *ngIf="specialization.id != 0">
                  <td>{{ specialization.id }}</td>
                  <td>{{ specialization.name }}</td>
                  <td>
                  <button routerLink="/admin/specializations/edit/{{specialization.id}}" class= "btn btn-primary"><i aria-hidden="true" class="fa fa-pencil"></i> Edit</button> &nbsp;
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
