<div class="user-form-wrapper">
    <!-- <app-alert></app-alert> -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>{{ buttonState ? 'Edit Research Paper' : 'Add Research Paper' }}</h2>
                </div>
                <div class="card-body">
                    <!-- <form [formGroup]="angForm" (ngSubmit)="(buttonState ? update(angForm) : add(angForm)) && f.form.valid"
                    #f="ngForm"> -->
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="title" autocomplete="off" class="form-control input-sm" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="email">Body</label>
                            <ckeditor [editor]="Editor" data="<p><strong>Hello,</strong> world!</p>"></ckeditor>
                        </div>
                        <div class="form-group">
                            <label for="tags">Tags</label>
                            <input type="text" name="tags" autocomplete="off" class="form-control input-sm" placeholder="Tags">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <ckeditor [editor]="Editor" data="<p><strong>Hello,</strong> world!</p>"></ckeditor>

</div> -->

