<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <!-- <h4 class="card-title">Add User</h4> -->
        <button class="btn btn-default card-title" routerLink="/researcher/research-papers/add"><i class="fa fa-plus" aria-hidden="true"></i> Add Paper</button>
        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-default">
              <th>Title</th>
              <th>Tag</th>
              <th>Status</th>
              <th class="text-right">Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let researchPaper of researchPapers">
                <td>{{ researchPaper.research_paper_name }}</td>
                <td>{{ researchPaperTag != "" ? researchPaperTag[researchPaper?.id] : ''}}</td>
                <td class="{{ researchPaper.research_paper_status }}">{{ researchPaper.research_paper_status}}</td>
                <td class="text-right">
                <button routerLink="/researcher/research-papers/edit/{{researchPaper.id}}" class= "btn btn-primary">Edit</button> &nbsp;
                <button class= "btn btn-danger" id="del" (click)="deleteUser(researchPaper.id)">Delete</button>
                </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
