<div class="container">
    <h1 class='mt-5'>Sample for PHP + Angular</h1>
    <form #f = "ngForm">
        <label>Name</label>
        <input type="text" name="name" [(ngModel)] = "selectedProduct.name">
        <br>
        <label>Amount</label>
        <input type="text" name="price" [(ngModel)] = "selectedProduct.price">
        <br>
        <input type="button" (click)="createOrUpdateProduct(f)" value="Create or Update Product">
    </form>
    <br/>
    <div>
        <table class="table table-striped table-bordered">
        <tr>
        <th>ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Operations</th>
        </tr>
        <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
        <button (click)="selectProduct(product)">Edit</button>
        <button id="del" (click)="deleteProduct(product.id)">Delete</button>
        </td>
        </tr>
        </table>
    </div>
</div>