<div class="user-form-wrapper">
    <div class="row"> 
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h2>{{ buttonState ? 'Edit Specialization / Tag' : 'Add Specialization / Tag' }}</h2>
                </div>
            <div class="card-body">
                <form [formGroup]="specializationForm" (ngSubmit)="f.form.valid && (buttonState ? update(specializationForm) : add(specializationForm))"
                    #f="ngForm">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="name">Specialization / Tag Name</label>
                                <input type="text" name="name" [ngModel]="specializations?.name != '' ? specializations?.name : '' "
                                    formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Specialization / Tag Name">
                                    <!-- <div *ngIf="f.submitted && email.errors.required" class="help-block">Email is required</div> -->
                                    <div *ngIf="f.submitted && (buttonState ? name.errors && name.touched : name.errors)"
                                        class="help-block">
                                        <div *ngIf="name.errors.required">Specialization / Tag Name is required</div>
                                    </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-success" id="{{btnId}}" type="submit">{{ buttonState ? 'Update' : 'Add' }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>