<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-default">
              <th>Title</th>
              <th>Author</th>
              <th>Tag</th>
              <th>Status</th>
              <th class="text-right">Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let researchPaper of researchPapers">
                <td>{{ researchPaper.research_paper_name }}</td>
                <td>{{ researchPaper.first_name + ' ' + researchPaper.last_name}}</td>
                <td><i>{{ researchPaperTag != "" ? researchPaperTag[researchPaper?.id] : '' }}</i></td>
                <td class="{{ researchPaper.research_paper_status }}">{{ researchPaper.research_paper_status}}</td>
                <td class="text-right">
                <button class= "btn btn-primary" routerLink="/reviewer/research-papers/review/{{researchPaper.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Review</button> &nbsp;
                </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
