.Pending{
    /* background-color: rgb(228, 39, 39); */
    color: rgba(241, 21, 21, 0.89);
    text-shadow: 1px 1px 20px red;
}

.In-Review{
    color:orange;
    text-shadow: 1px 1px 20px orange;
}

.Done {
    color:rgb(36, 245, 8);
    text-shadow: 1px 1px 20px rgb(158, 230, 15);
}