/*!

=========================================================
* Paper Dashboard Angular - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-angular
* Copyright 2019 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/paper-dashboard-angular/blob/master/LICENSE.md)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/
.tim-row {
    margin-bottom: 20px;
  }
  
  .tim-white-buttons {
    background-color: #777777;
  }
  
  .typography-line {
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
  }
  
  .typography-line span {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
  }
  
  .tim-row {
    padding-top: 60px;
  }
  
  .tim-row h3 {
    margin-top: 0;
  }
  
  .offline-doc .page-header {
    display: flex;
    align-items: center;
  }
  
  .offline-doc .footer {
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    color: #fff;
    z-index: 1;
  }
  
  @media all and (min-width: 992px) {
    .sidebar .nav>li.active-pro {
      position: absolute;
      width: 100%;
      bottom: 10px;
    }
  }
  
  .card.card-upgrade .card-category {
    max-width: 530px;
    margin: 0 auto;
  }
  
  /* Nucleo Style */
  
  .demo-iconshtml {
    font-size: 62.5%;
  }
  
  .demo-icons body {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #333333;
    background: white;
  }
  
  .demo-icons a {
    color: #608CEE;
    text-decoration: none;
  }
  
  .demo-icons header {
    text-align: center;
    padding: 100px 0 0;
  }
  
  .demo-icons header h1 {
    font-size: 2.8rem;
  }
  
  .demo-icons header p {
    font-size: 1.4rem;
    margin-top: 1em;
  }
  
  .demo-icons header a:hover {
    text-decoration: underline;
  }
  
  .demo-icons .nc-icon {
    font-size: 34px;
  }
  
  .demo-icons section h2 {
    border-bottom: 1px solid #e2e2e2;
    padding: 0 0 1em .2em;
    margin-bottom: 1em;
  }
  
  .demo-icons ul {
    padding-left: 0;
  }
  
  .demo-icons ul::after {
    clear: both;
    content: "";
    display: table;
  }
  
  .demo-icons ul li {
    width: 20%;
    float: left;
    padding: 16px 0;
    text-align: center;
    border-radius: .25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
  }
  
  .demo-icons ul li:hover {
    background: #f4f4f4;
  }
  
  .demo-icons ul p,
  .demo-icons ul em,
  .demo-icons ul input {
    display: inline-block;
    font-size: 1rem;
    color: #999999;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  
  .demo-icons ul p {
    padding: 20px 0 0;
    font-size: 12px;
    margin: 0;
  }
  
  .demo-icons ul p::selection,
  .demo-icons ul em::selection {
    background: #608CEE;
    color: #efefef;
  }
  
  .demo-icons ul em {
    font-size: 12px;
  }
  
  .demo-icons ul em::before {
    content: '[';
  }
  
  .demo-icons ul em::after {
    content: ']';
  }
  
  .demo-icons ul input {
    text-align: center;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    display: none;
  }

  .home-page{
    height: 800px !important;
  }

  .help-block{
    font-size: 15px !important;
    color: #ea6a6a !important;
  }
  